/* Navbar Box Shadow */
.navbar{
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.16), 0 10px 12px 0 rgba(0,0,0,.12);
}
.cart-counter{
    position: absolute;
    left: 8px;
    top: 12px;
    font-size: 12px;
}
.my-form{
    width: 70%;
}
input.form-control.my-input.mr-sm-2 {
    width: 100%;
}
.modal-dialog.cascading-modal .modal-c-tabs .md-tabs{
    margin-top: 1.5rem!important;
}
i.fab.fa-opencart, i.fas .fa-user {
    font-size: 24px;
}
a.navbar-brand.font-weight-bold.d-sm-block {
    text-align: center;
    width: 100%;
}
.navbar>.container{
    display: block;
}
.brand-color{
    color: rgb(0, 132, 255);
}
.md-form input[type=text]:not(.browser-default){
    border: 1px solid rgb(0, 132, 255);
}
.amber.lighten-3 {
    background-color: rgb(0, 132, 255)!important;
    border-color: rgb(0, 132, 255);
    color: #fff;
}
/* .modal .modal-full-height{
    width: 300px;
} */
@media (max-width: 576px) { 
    
    a.navbar-brand.font-weight-bold{
        width: 100%;
        text-align: center;
    }
    
    button.navbar-toggler {
        position: absolute;
        top: -50px;
    }
    .btn-block-sm{
        width: 100%;
        display: block;
    }
    .flexible-search{
        position: absolute;
        left: 58px;
        top: 45px;
        width: 260px;
    }
    
    

 }

